In [1]:
import pandas as pd
import numpy as np
import os
from nibabel.testing import data_path
import matplotlib.pyplot as plt

In [11]:
## Import the data
dataPath = '/home/jovyan/shared/NSD/nsddata/ppdata/subj01/behav/responses.tsv'
nsdBehav = pd.read_csv(dataPath, sep='\t')

In [41]:
nsdBehav

,SUBJECT,SESSION,RUN,TRIAL,73KID,10KID,TIME,ISOLD,ISCORRECT,RT,CHANGEMIND,MEMORYRECENT,MEMORYFIRST,ISOLDCURRENT,ISCORRECTCURRENT,TOTAL1,TOTAL2,BUTTON,MISSINGDATA
0,1,1,1,1,46003,626,0.505082,0,1.0,803.529781,0.0,NaN,NaN,0,1.0,1,0,1.0,0
1,1,1,1,2,61883,5013,0.505128,0,1.0,972.261383,0.0,NaN,NaN,0,1.0,1,0,1.0,0
2,1,1,1,3,829,4850,0.505175,0,1.0,742.351236,0.0,NaN,NaN,0,1.0,1,0,1.0,0
3,1,1,1,4,67574,8823,0.505221,0,1.0,747.518479,0.0,NaN,NaN,0,1.0,1,0,1.0,0
4,1,1,1,5,16021,9538,0.505267,0,1.0,547.422774,0.0,NaN,NaN,0,1.0,1,0,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1,40,12,58,13774,8984,262.629551,1,0.0,1275.300175,0.0,20963.0,21540.0,0,1.0,1,0,1.0,0
29996,1,40,12,59,66768,6026,262.629597,1,1.0,661.379768,0.0,16.0,17622.0,1,1.0,0,1,2.0,0
29997,1,40,12,60,53168,4841,262.629644,1,1.0,786.811781,0.0,9483.0,11912.0,0,0.0,0,1,2.0,0
29998,1,40,12,61,1944,7323,262.629690,1,1.0,502.626801,0.0,83.0,12162.0,1,1.0,0,1,2.0,0
29999,1,40,12,62,5034,9972,262.629736,1,0.0,883.122362,0.0,28968.0,29798.0,0,1.0,1,0,1.0,0

In [15]:
nsdBehav["SigDetection"] = pd.NA
nsdBehav["SigDetection"]

# 0: HIT; # 1: MISS; # 2: CORRECT REJECTION; # 3: FALSE ALARM; # 4: NO RESPONSE
nsdBehav.loc[((nsdBehav["ISOLD"] == 1) & (nsdBehav["ISCORRECT"] == 1)), "SigDetection"] = 0
nsdBehav.loc[((nsdBehav["ISOLD"] == 1) & (nsdBehav["ISCORRECT"] == 0)), "SigDetection"] = 1
nsdBehav.loc[((nsdBehav["ISOLD"] == 0) & (nsdBehav["ISCORRECT"] == 1)), "SigDetection"] = 2
nsdBehav.loc[((nsdBehav["ISOLD"] == 0) & (nsdBehav["ISCORRECT"] == 0)), "SigDetection"] = 3
nsdBehav.loc[(pd.isna(nsdBehav["BUTTON"])), "SigDetection"] = 4

In [49]:
nsdBehav.loc[nsdBehav["SigDetection"] == "hit", :]

,SUBJECT,SESSION,RUN,TRIAL,73KID,10KID,TIME,ISOLD,ISCORRECT,RT,CHANGEMIND,MEMORYRECENT,MEMORYFIRST,ISOLDCURRENT,ISCORRECTCURRENT,TOTAL1,TOTAL2,BUTTON,MISSINGDATA,SigDetection
45,1,1,1,46,28279,4586,0.507350,1,1.0,1104.699282,0.0,28.0,NaN,1,1.0,0,1,2.0,0,hit
68,1,1,2,6,3586,4135,0.510578,1,1.0,782.411240,0.0,3.0,NaN,1,1.0,0,1,2.0,0,hit
90,1,1,2,28,32626,436,0.511689,1,1.0,849.658853,0.0,45.0,NaN,1,1.0,0,1,2.0,0,hit
107,1,1,2,45,33484,5169,0.512569,1,1.0,903.947890,0.0,41.0,NaN,1,1.0,0,1,2.0,0,hit
121,1,1,2,59,15762,2757,0.513263,1,1.0,934.878815,0.0,15.0,NaN,1,1.0,0,1,2.0,0,hit
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29992,1,40,12,55,25142,6740,262.629412,1,1.0,2007.613378,0.0,16993.0,19284.0,0,0.0,0,1,2.0,0,hit
29994,1,40,12,57,38919,9826,262.629505,1,1.0,1591.585472,0.0,1192.0,29778.0,0,0.0,0,1,2.0,0,hit
29996,1,40,12,59,66768,6026,262.629597,1,1.0,661.379768,0.0,16.0,17622.0,1,1.0,0,1,2.0,0,hit
29997,1,40,12,60,53168,4841,262.629644,1,1.0,786.811781,0.0,9483.0,11912.0,0,0.0,0,1,2.0,0,hit
29998,1,40,12,61,1944,7323,262.629690,1,1.0,502.626801,0.0,83.0,12162.0,1,1.0,0,1,2.0,0,hit

In [20]:
nsdData.to_csv("nsd_s1_sigDetect", sep = '\t')

NameError: name 'nsdData' is not defined